.background{
    width:100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn:hover{
    background-color: red!important;
}