@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Shippori Antique', sans-serif;
    margin: 0;
    background-color: #7BDAF3;
    display: flex;
    flex-wrap: wrap;
    
}
.notes{
    width: 400px;
    height: 400px;
    background-color: #ECFAF5;
    margin: 3rem;
}
.notes .setting-head{
    background-color: #ECFAF5;
    display: flex;
    justify-content : space-between;
    padding: 15px;
}

#setting-left button{
    color: #9EC862;
    font-size: 1.2rem;
    cursor: pointer;
}

#setting-right button{
    font-size: 1.4rem;
    cursor: pointer;
}

.notes .setting-head button{
    border: none;
    background-color: #ECFAF5;
    cursor: pointer;
}
textarea{
    width: 100%;
    height: 50px;
    font-size: 17px;
    overflow: auto;
    outline: none;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
}

.setting-foot button{
    cursor: pointer;
    margin: 13rem 7.5rem;
    width: 10rem;
    height: 3rem;
    font-weight : bold;
    background-color: #9EC862;
    border : none;
    border-radius: 10px;
    color : #ECFAF5;
    box-shadow: 0 0 5px 2px #9EC862;
    
}

.add{
    width : 6rem;
    height: 2rem;
    margin: 2rem 2rem;
    background-color : #9EC862;
    border :none;
    color: white;
    position :fixed;
    cursor: pointer;
    margin: 2rem;
    top: -1rem;
    right: -1.3rem;
    
}

.note .hidden{
    display: none;
}

.main{
    padding: 1rem 2rem;
}




