body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.container {
    padding-top: 30px;
}

img {
    height: 60px;
    width: 60px;
}

tfoot tr td {
    text-align: right;
}

.btn {
    font-weight: bold;
}

input[type="number"] {
    height: 30px;
}