@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

:root{
    --text--color : rgb(37, 44, 44);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Shippori Antique', sans-serif;
    margin: 0;
    background-color:rgb(231, 226, 226);
    position: relative;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.header {
    background-color : var(--text--color);
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.brand{
    margin: 0;
    color: #e0e1e9;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 20px;
    font-family: cursive;
    box-shadow: 0 0 20px 5px rgba(187, 171, 171, 0.7);
    padding:1rem;

    
}

.search{
    background-color : transparent;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    border : 1px solid #5c5f8a;
    font-family: inherit;
    font-size : 1rem;
    color: white;
    margin-top : 1.5rem;
    width : 400px;
    box-shadow: 0 0 10px 5px #fff;

}

.search::placeholder{
    color: rgb(216, 220, 230);
}

.search:focus{
    background-color : var(--text--color);
    outline: none;
}

.movie{
    width : 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    background-color : var(--text--color);
    margin: 1rem;
    overflow: hidden;
    top: 3rem;
    
}

.movie img {
    width: 100%;
    height : 82%;

}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.a{
    position: relative;
}

.movie-info {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding:  0.5rem 1rem 1rem;
    color : #eee;
    letter-spacing: 1px;
    display: flex;

}

.movie-info h3{
    margin: 0;
    font-size: 1rem;
}


.movie-info span{
    padding : 0.25rem 0.5rem;
    background-color : rgb(51, 60, 78);
    font-weight : bold;
    border-radius: 3px;
}

.movie-info span.green{
    color : rgb(56, 185, 56);
}

.movie-info span.orange{
    color : orange;
}

.movie-info span.red{
    color : red;
}

.overview {
    background-color: rgb(231, 226, 226);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    color: var(--text--color);
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

.footer{
    background-color: var(--text--color);
    color: white;
    margin: 0;
    height: 100px;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}